In [4]:
# Definition of the generator to produce even numbers.
def all_even():
    n = 0
    while True:
        yield n
        n += 2

my_gen = all_even()

# Generate the first 5 even numbers.
for i in range(5):
    print(next(my_gen))
print('here1')
# Now go and do some other processing.
do_something = 4
do_something += 3
print(do_something)
print('here2')
# Now go back to generating more even numbers.
for i in range(10):
    print(next(my_gen))

0
2
4
6
8
here1
7
here2
10
12
14
16
18
20
22
24
26
28

In [6]:
correct = [[1,2,3],
           [2,3,1],
           [3,1,2]]

incorrect = [[1,2,3,4],
             [2,3,1,3],
             [3,1,2,3],
             [4,4,4,4]]

incorrect2 = [[1,2,3,4],
             [2,3,1,4],
             [4,1,2,3],
             [3,4,1,2]]

incorrect3 = [[1,2,3,4,5],
              [2,3,1,5,6],
              [4,5,2,1,3],
              [3,4,5,2,1],
              [5,6,4,3,2]]

incorrect4 = [['a','b','c'],
              ['b','c','a'],
              ['c','a','b']]

incorrect5 = [ [1, 1.5],
               [1.5, 1]]

In [34]:
isinstance(5, int)

True

In [70]:
def row_maker(matrix):
    n = len(matrix[0])
    row_global = []
    for row in range(n):
        row_global.append(matrix[row])   
    return row_global

def col_maker(matrix):  
    n = len(matrix[0])
    col_global = []    
    for col in range(n):
        col_list = []
        for row in range(n):
            col_list.append(matrix[row][col])    
        col_global.append(col_list)  
    return col_global

def dict_checker(dict_, n):
    flag = True
    if(len(dict_) != n):
        flag *= False
    else:
        for count in dict_.values():
            if (count > 1): 
                flag *= False
            else:
                continue
    return flag
    

def dict_maker(row_col_array):
    flag =True
    n = len(row_col_array[0])
    for x in row_col_array:
        dict_number = {}
        for y in x:
            if(isinstance(y, int) and y >= 1  and y <= n):
                dict_number[y] = dict_number.get(y, 0) + 1
            else:
                flag *= False 
        flag *= dict_checker(dict_number, n)
    return flag        
            
            

def check_sudoku(matrix):
    
    row_global = row_maker(matrix)
    col_global = col_maker(matrix)
    flag_row = dict_maker(row_global)
    flag_col = dict_maker(col_global)
    print(matrix)
    print(flag_row)
    print(flag_col)
    if((flag_row  * flag_col) == 0):
        return False
    else:
        return True

In [86]:
def check_sudoku2(matrix):
    n = len(matrix[0])
    for col in range(n):
        list_number = list(range(1, n + 1))
        for row in range(n):
            if(matrix[row][col] not in list_number):
                return False
            else:
                list_number.remove(matrix[row][col])

    for row in range(n):
        list_number = list(range(1, n + 1))
        for number in matrix[row]:
            if(number not in list_number):
                return False
            else:
                list_number.remove(number)
    
    return True

In [87]:
list_number = list(range(1, 9 + 1))
list_number

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [88]:
print(check_sudoku2(incorrect))

False

In [79]:
print(check_sudoku(incorrect))

[[1, 2, 3, 4], [2, 3, 1, 3], [3, 1, 2, 3], [4, 4, 4, 4]]
0
0
False

In [89]:
print(check_sudoku2(incorrect2))

False

In [72]:
print(check_sudoku(incorrect2))

[[1, 2, 3, 4], [2, 3, 1, 4], [4, 1, 2, 3], [3, 4, 1, 2]]
1
0
False

In [90]:
print(check_sudoku2(incorrect3))

False

In [73]:
print(check_sudoku(incorrect3))

[[1, 2, 3, 4, 5], [2, 3, 1, 5, 6], [4, 5, 2, 1, 3], [3, 4, 5, 2, 1], [5, 6, 4, 3, 2]]
0
0
False

In [91]:
print(check_sudoku2(incorrect4))

False

In [74]:
print(check_sudoku(incorrect4))

[['a', 'b', 'c'], ['b', 'c', 'a'], ['c', 'a', 'b']]
0
0
False

In [92]:
print(check_sudoku2(incorrect5))

False

In [75]:
print(check_sudoku(incorrect5))

[[1, 1.5], [1.5, 1]]
0
0
False

In [93]:
print(check_sudoku2(correct))

True

In [76]:
print(check_sudoku(correct))

[[1, 2, 3], [2, 3, 1], [3, 1, 2]]
1
1
True

In [54]:
False*False

0

In [55]:
1* True

1

In [56]:
dict_ = {1: 3, 2: 3, 3: 5, 4: 5}

In [45]:
len(dict_)

4

## Class

In [111]:
class Person:
    def __init__(self, name, age, month):
        self.name = name
        self.age = age
        self.birthday_month = month
        
    def birthday(self):
        self.age += 1

def create_person_objects(names, ages, months):
    my_data = zip(names, ages, months)
    person_objects = []
    for item in my_data:
        person_objects.append(Person(*item))
    return person_objects

def get_april_birthdays(people):
    # TODO:
    # Increment "age" for all people with birthdays in April.
    # Return a dictionary "april_birthdays" with the names of
    # all people with April birthdays as keys, and their updated ages 
    # as values. See the test below for an example expected output.
    april_birthdays = {}
    for person_obj in people:
        if(person_obj.birthday_month == 'April'):
            person_obj.birthday()
            april_birthdays[person_obj.name] = person_obj.age
    return april_birthdays

def get_most_common_month(people):
    # TODO:
    # Use the "months" dictionary to record counts of birthday months
    # for persons in the "people" data.
    # Return the month with the largest number of birthdays.
    months = {'January':0, 'February':0, 'March':0, 'April':0, 'May':0, 
              'June':0, 'July':0, 'August':0, 'September':0, 'October':0,
              'November':0, 'December':0}
    for person_obj in people:
        months[person_obj.birthday_month] += 1
    # sort by value, plot items, get value of firts one, ordered descending
    print(months)
    most_common = sorted(months.items(), key= lambda x:x[1], reverse=True)
    return most_common[0][0]


def test():
    # Here is the data for the test. Assume there is a single most common month.
    names = ['Howard', 'Richard', 'Jules', 'Trula', 'Michael', 'Elizabeth', 'Richard', 'Shirley', 'Mark', 'Brianna', 'Kenneth', 'Gwen', 'William', 'Rosa', 'Denver', 'Shelly', 'Sammy', 'Maryann', 'Kathleen', 'Andrew', 'Joseph', 'Kathleen', 'Lisa', 'Viola', 'George', 'Bonnie', 'Robert', 'William', 'Sabrina', 'John', 'Robert', 'Gil', 'Calvin', 'Robert', 'Dusty', 'Dario', 'Joeann', 'Terry', 'Alan', 'Rosa', 'Jeane', 'James', 'Rachel', 'Tu', 'Chelsea', 'Andrea', 'Ernest', 'Erica', 'Priscilla', 'Carol', 'Michael', 'Dale', 'Arthur', 'Helen', 'James', 'Donna', 'Patricia', 'Betty', 'Patricia', 'Mollie', 'Nicole', 'Ernest', 'Wendy', 'Graciela', 'Teresa', 'Nicole', 'Trang', 'Caleb', 'Robert', 'Paul', 'Nieves', 'Arleen', 'Milton', 'James', 'Lawrence', 'Edward', 'Susan', 'Patricia', 'Tana', 'Jessica', 'Suzanne', 'Darren', 'Arthur', 'Holly', 'Mary', 'Randal', 'John', 'Laura', 'Betty', 'Chelsea', 'Margaret', 'Angel', 'Jeffrey', 'Mary', 'Donald', 'David', 'Roger', 'Evan', 'Danny', 'William']
    ages  = [17, 58, 79, 8, 10, 57, 4, 98, 19, 47, 81, 68, 48, 13, 39, 21, 98, 51, 49, 12, 24, 78, 36, 59, 3, 87, 94, 85, 43, 69, 15, 52, 57, 36, 52, 5, 52, 5, 33, 10, 71, 28, 70, 9, 25, 28, 76, 71, 22, 35, 35, 100, 9, 95, 69, 52, 66, 91, 39, 84, 65, 29, 20, 98, 30, 83, 30, 15, 88, 89, 24, 98, 62, 94, 86, 63, 34, 23, 23, 19, 10, 80, 88, 67, 17, 91, 85, 97, 29, 7, 34, 38, 92, 29, 14, 52, 94, 62, 70, 22]
    months = ['January', 'March', 'January', 'October', 'April', 'February', 'August', 'January', 'June', 'August', 'February', 'May', 'March', 'June', 'February', 'August', 'June', 'March', 'August', 'April', 'April', 'June', 'April', 'June', 'February', 'September', 'March', 'July', 'September', 'December', 'June', 'June', 'August', 'November', 'April', 'November', 'August', 'June', 'January', 'August', 'May', 'March', 'March', 'March', 'May', 'September', 'August', 'April', 'February', 'April', 'May', 'March', 'March', 'January', 'August', 'October', 'February', 'November', 'August', 'June', 'September', 'September', 'January', 'September', 'July', 'July', 'December', 'June', 'April', 'February', 'August', 'September', 'August', 'February', 'April', 'July', 'May', 'November', 'December', 'February', 'August', 'August', 'September', 'December', 'February', 'March', 'June', 'December', 'February', 'May', 'April', 'July', 'March', 'June', 'December', 'March', 'July', 'May', 'September', 'November']
    people = create_person_objects(names, ages, months)

    # Calls to the two functions you have completed.
    print(get_april_birthdays(people))
    print(get_most_common_month(people))



test()
# Expected result:
# {'Michael': 11, 'Erica': 72, 'Carol': 36, 'Lisa': 37, 'Lawrence': 87, 'Joseph': 25, 'Margaret': 35, 'Andrew': 13, 'Dusty': 53, 'Robert': 89}
# August

{'Michael': 11, 'Andrew': 13, 'Joseph': 25, 'Lisa': 37, 'Dusty': 53, 'Erica': 72, 'Carol': 36, 'Robert': 89, 'Lawrence': 87, 'Margaret': 35}
{'January': 6, 'February': 11, 'March': 12, 'April': 10, 'May': 7, 'June': 12, 'July': 6, 'August': 14, 'September': 9, 'October': 2, 'November': 5, 'December': 6}
August

In [108]:
months_ = {'January': 6, 'February': 11, 'March': 12, 'April': 10, 'May': 7, 'June': 12, 'July': 6, 'August': 14, 'September': 9, 'October': 2, 'November': 5, 'December': 6}

In [109]:
sorted(months_.items(), key= lambda x:x[1], reverse=True)

[('August', 14),
 ('March', 12),
 ('June', 12),
 ('February', 11),
 ('April', 10),
 ('September', 9),
 ('May', 7),
 ('January', 6),
 ('July', 6),
 ('December', 6),
 ('November', 5),
 ('October', 2)]

In [101]:
x = {'Michael': 11, 'Erica': 72, 'Carol': 36, 'Lisa': 37, 'Lawrence': 87, 'Joseph': 25, 'Margaret': 35, 'Andrew': 13, 'Dusty': 53, 'Robert': 89}
y = {'Michael': 11, 'Andrew': 13, 'Joseph': 25, 'Lisa': 37, 'Dusty': 53, 'Erica': 72, 'Carol': 36, 'Robert': 89, 'Lawrence': 87, 'Margaret': 35}

x == y

True